<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-light navbar-light sticky-top py-lg-0 px-4 px-lg-5" data-wow-delay="0.1s">
	<a href="{{path('app_home')}}" class="navbar-brand p-0">
		<h1 class="m-3 h3">{{website_short_name}}</h1>
	</a>
	<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse py-4 py-lg-0" id="navbarCollapse">
		<div class="navbar-nav ms-auto">
			<a href="{{path('app_home')}}" class="nav-item nav-link">Accueil</a>

			{% if app.user and "ROLE_COMMISSION_MEMBER" in app.user.roles %}
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Publier</a>
					<div class="dropdown-menu rounded-0 rounded-bottom m-0">
						<a href="{{path('app_create_course')}}" class="dropdown-item">Un cours</a>
						<a href="{{path('app_create_video')}}" class="dropdown-item">Une vidéo</a>
					</div>
				</li>
			{% endif %}

			<a href="{{path('app_courses')}}" class="nav-item nav-link">Cours</a>
			<a href="{{path('app_videos')}}" class="nav-item nav-link">Ateliers</a>


			{% if app.user %}
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Compte</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" href=" {{path('app_account')}} ">
							<i class="fas fa-user-alt"></i>&nbsp;&nbsp;Mon profil
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href=" {{path('app_logout', {'token' : csrf_token('logout')})}} ">
							<i class="fas fa-power-off"></i>&nbsp;&nbsp;Déconnexion
						</a>
					</div>

					{# comment this block --start #}
				{% else %}
					<div class="dropdown-menu rounded-0 rounded-bottom m-0">
						<a href="{{path('app_login')}}" class="dropdown-item">
							<i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Se Connecter</a>
						<a href="{{path('app_register')}}" class="dropdown-item">
							<i class="fas fa-user-alt"></i>&nbsp;&nbsp;Créer un compte</a>
					</div>
				</li>
				{#  --end #}
			{% endif %}

		</div>
	</div>
</nav>
<!-- Navbar End -->
