{% extends 'base.html.twig' %}

{% block title website_name~" | "~website_slogan %}

{% block body %}
	<section id="banner">
		<div class="d-flex align-items-center justify-content-center p-3 p-md-5 text-white banner text-center">
			<h1 class="pt-5">
				{{ website_name }}
				<br>
				<span class="h2 typing_text"></span>
			</h1>
		</div>
	</section>

	<section class="my-5 container">
		{% if courses|length > 0 %}
			<div class="row mb-5">
				{% for course in courses|slice(0, 6) %}
					<div class="mb-3 col-md-4">
						<article class="mb-3 course bg-white rounded shadow">
							<div class="w-100 rounded-top overflow-hidden">
								<a href="{{ path('app_show_course', course.pathParams) }}">
									<img src="{{ (course.imageName ? vich_uploader_asset(course) : asset('build/images/placeholder.jpg'))|imagine_filter('squared_thumbnail_medium') }}" alt="{{'img: '~ course.title }}" class="w-100 rounded-top">
								</a>
							</div>
							<h1 class="h5 mx-3 mt-3">
								<a class="text-secondary text-muted text-decoration-none" href="{{ path('app_show_course', course.pathParams) }}">{{ course.title|u.truncate(30, '...', false) }}</a>
							</h1>
							<p class="mx-3 pb-3 text-muted">
								<small>
									{{course.description|u.truncate(60, '...', true)}}
									&nbsp;

									<a href="{{ path('app_show_course', course.pathParams) }}">voir plus
										<i class="fas fa-long-arrow-alt-right"></i>
									</a>
								</small>
							</p>
						</article>
					</div>
				{% endfor %}
			</div>

		{% else %}

			{% include "layouts/courses/_partials/no_course_yet.html.twig" %}

		{% endif %}

		{% if courses|length > 6 %}
			<div class="d-flex justify-content-center">
				<a href=" {{path('app_courses')}} " class="btn jp-btn-outline btn-lg btn-block">
					<i class="fas fa-arrow-right"></i>&nbsp;&nbsp;Découvrir tous les cours
				</a>
			</div>
		{% endif %}

	</section>
{% endblock %}
